#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}

.divnav{
  background-color: #98cef0;
display: flex;
justify-content: space-around;
align-items: center;
position: -webkit-sticky;
position: sticky;
top: 0;
z-index: 1000; 
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

